# MOX CREDIT SCORING PROJECT

# ETL PROCESS + TARGET MAKING

# Importing the necessary libraries

In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.relativedelta import relativedelta
import re

# URI conection with mongodb

In [2]:
mongo_uri = "mongodb+srv://admin:admin4829@mox.7u8vgz0.mongodb.net/?retryWrites=true&w=majority"

# Making a client in MongoClient

In [3]:
client = MongoClient(mongo_uri)

# Access to the 'imms' database

In [4]:
db = client['imms']

# Access collection 'imms_example'

In [5]:
collection = db['imms_example']

# Extract all records from the collection

In [6]:
immms = collection.find({})

# Create a Pandas DataFrame with the extracted data

In [7]:
df_mox = pd.DataFrame(list(immms))

# Observing the first 5 data

In [8]:
df_mox.head()

,_id,transactionId,curp,nss,message,finished,error,validated,data
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,,Información de Ingresos Encontrada,True,False,True,"{'nombre': '', 'semanasCotizadas': {'semanasCo..."
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,,Información de Ingresos Encontrada,True,False,True,"{'nombre': '', 'semanasCotizadas': {'semanasCo..."
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,,Información de Ingresos Encontrada,True,False,True,"{'nombre': '', 'semanasCotizadas': {'semanasCo..."
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,,Información de Ingresos Encontrada,True,False,True,"{'nombre': '', 'semanasCotizadas': {'semanasCo..."
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,,Información de Ingresos Encontrada,True,False,True,"{'nombre': '', 'semanasCotizadas': {'semanasCo..."

In [9]:
df_mox.shape

(5, 9)

# Unnesting the data column

In [10]:
df_data = pd.json_normalize(df_mox['data'])

In [11]:
df_data.head()

,nombre,historialLaboral,semanasCotizadas.semanasCotizadas,semanasCotizadas.semanasDescontadas,semanasCotizadas.semanasReintegradas
0,,"[{'fechaAlta': '08/08/2022', 'fechaBaja': 'Vig...",480,0,0
1,,"[{'fechaAlta': '01/07/2021', 'fechaBaja': 'Vig...",1304,156,0
2,,"[{'fechaAlta': '18/09/2006', 'fechaBaja': '17/...",17,0,0
3,,"[{'fechaAlta': '22/06/2020', 'fechaBaja': 'Vig...",484,0,0
4,,"[{'fechaAlta': '01/09/2020', 'fechaBaja': '02/...",52,0,0

# Unnesting the employment history column

In [12]:
output = pd.DataFrame(columns=['fechaAlta', 'fechaBaja', 'antiguedad', 'salarioBaseCotizacion',
                                'salarioMensual', 'entidadFederativa'])

for index, list_element in enumerate(df_data['historialLaboral']):
    output.at[index, 'fechaAlta'] = [d['fechaAlta'] for d in list_element]
    output.at[index, 'fechaBaja'] = [d['fechaBaja'] for d in list_element]
    output.at[index, 'antiguedad'] = [d['antiguedad'] for d in list_element]
    output.at[index, 'salarioBaseCotizacion'] = [d['salarioBaseCotizacion'] for d in list_element]
    output.at[index, 'salarioMensual'] = [d['salarioMensual'] for d in list_element]
    output.at[index, 'entidadFederativa'] = [d['entidadFederativa'] for d in list_element]

# Eliminating the nested columns, since we extracted the information from it

In [13]:
df_mox.drop(['data'], axis=1, inplace=True)
df_data.drop(['historialLaboral'], axis=1, inplace=True)

# Combining the unnested data of work history, with the rest of the data

In [14]:
df_final = pd.concat([df_mox, df_data, output], axis=1)

# Renaming columns to a more optimal way

In [15]:
df_final = df_final.rename(columns={'semanasCotizadas.semanasCotizadas': 'semanas_cotizadas'})
df_final = df_final.rename(columns={'semanasCotizadas.semanasDescontadas': 'semanas_descontadas'})
df_final = df_final.rename(columns={'semanasCotizadas.semanasReintegradas': 'semanas_reintegradas'})
df_final = df_final.rename(columns={'historialLaboral': 'historial_laboral'})

# Deleting 2 unused columns

In [16]:
df_final = df_final.drop(['nss','nombre'], axis= 1)

# Calculating the current date

In [17]:
now = datetime.now()
current_year = now.year

# Creating the age column

In [18]:
df_final['edad'] = 0

# Creating a function that calculates the age of the employee

In [19]:
def calculate_age(curp, now):
    """
    Calculates the age from the CURP of a person and the current date.

    Args:
        curp (str): The employee's CURP in YY/MM/DD format.
        now (datetime): The current date.

    Returns:
        int: the age of the employee in years.
    """

    digits_year_curp = re.findall(r'\d+', curp)
    year_of_birth = int(digits_year_curp[0][:2])
    month_of_birth = int(digits_year_curp[0][2:4])
    day_of_birth = int(digits_year_curp[0][4:6])
    birthdate = datetime(year_of_birth + 1900, month_of_birth, day_of_birth)
    age = now.year - birthdate.year - ((now.month, now.day) < (birthdate.month, birthdate.day))

    if age < 0:
        raise ValueError("La fecha de nacimiento es posterior a la fecha actual.")

    return age

# Applying the calculate_age function

In [20]:
df_final['edad'] = df_final['curp'].apply(lambda x: calculate_age(x, now))

In [21]:
df_final

,_id,transactionId,curp,message,finished,error,validated,semanas_cotizadas,semanas_descontadas,semanas_reintegradas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,Información de Ingresos Encontrada,True,False,True,480,0,0,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,Información de Ingresos Encontrada,True,False,True,1304,156,0,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,Información de Ingresos Encontrada,True,False,True,17,0,0,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,Información de Ingresos Encontrada,True,False,True,484,0,0,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,Información de Ingresos Encontrada,True,False,True,52,0,0,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23

# Setting a constant

In [22]:
VAR_CURRENT = 'vigente'

# Creating a function that calculates job seniority

In [23]:
def calculate_employment_seniority(fila):
    """
    Calculates the length of time an employee has been employed in their current job in months.

    Args:
        fila (pandas.DataFrame): A DataFrame containing the employee's job history.

    Returns:
        int: The number of months the employee has been employed in their current job.
    """


    current_index = [i for i, x in enumerate(fila['fechaBaja'])
                    if VAR_CURRENT in x.lower().replace(' ', '')]

    if len(current_index) > 0:
        last_current = current_index[-1]
        date = datetime.strptime(fila['fechaAlta'][last_current], '%d/%m/%Y')
        current_date = datetime.now()
        difference_dates = relativedelta(current_date, date)
        age_months = difference_dates.years * 12 + difference_dates.months
        return age_months

    else:
        return 0

# Applying the calculate_employment_seniority function

In [24]:
df_final['antiguedad_laboral_meses'] = df_final.apply(calculate_employment_seniority, axis=1)

In [25]:
df_final

,_id,transactionId,curp,message,finished,error,validated,semanas_cotizadas,semanas_descontadas,semanas_reintegradas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad,antiguedad_laboral_meses
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,Información de Ingresos Encontrada,True,False,True,480,0,0,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32,18
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,Información de Ingresos Encontrada,True,False,True,1304,156,0,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49,24
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,Información de Ingresos Encontrada,True,False,True,17,0,0,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39,0
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,Información de Ingresos Encontrada,True,False,True,484,0,0,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30,36
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,Información de Ingresos Encontrada,True,False,True,52,0,0,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23,0

# Setting the income column

In [26]:
df_final['ingreso'] = 0

# Creating a function that calculates the current income

In [27]:
def calculate_income(low_date, monthly_salary):
    """
    Calculates a person's current income based on their monthly salary.

    Args:
        low_date (list): A list of dates indicating when the monthly salary was last updated.
        monthly_salary (list): A list of monthly salaries.

    Returns:
        float: The person's current income (or 0 if the salary information is not current).
    """

    if VAR_CURRENT in low_date[0].lower():
        return float(monthly_salary[0][1:])
    else:
        return 0

# Applying calculate_income function

In [28]:
df_final['ingreso'] = df_final.apply(lambda row: calculate_income(row['fechaBaja'],
                                                                row['salarioMensual']),
                                    axis=1)

In [29]:
df_final

,_id,transactionId,curp,message,finished,error,validated,semanas_cotizadas,semanas_descontadas,semanas_reintegradas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad,antiguedad_laboral_meses,ingreso
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,Información de Ingresos Encontrada,True,False,True,480,0,0,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32,18,6620.78
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,Información de Ingresos Encontrada,True,False,True,1304,156,0,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49,24,21333.59
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,Información de Ingresos Encontrada,True,False,True,17,0,0,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39,0,0.00
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,Información de Ingresos Encontrada,True,False,True,484,0,0,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30,36,21225.31
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,Información de Ingresos Encontrada,True,False,True,52,0,0,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23,0,0.00

# Establishing constants to calculate retirement

In [30]:
PENSION_AGE = 65
PENSION_WEEKS = 1500

# Creating a function that informs if someone is retired or not

In [31]:
def calculate_retirement(age, listed_weeks):
    """
    Determines whether a person is eligible for a pension based on their age and number of weeks worked.

    Args:
        age (int): The person's age in years.
        listed_weeks (int): The number of weeks the person has worked.

    Returns:
        int: 1 if the person is eligible for a pension, 0 otherwise.
    """

    return int(age >= PENSION_AGE and listed_weeks >= PENSION_WEEKS)

# Applying the calculate_pensioner function

In [32]:
df_final['jubilado'] = df_final.apply(lambda row: calculate_retirement(row['edad'],
                                                                        row['semanas_cotizadas']),
                                    axis=1)

In [33]:
df_final

,_id,transactionId,curp,message,finished,error,validated,semanas_cotizadas,semanas_descontadas,semanas_reintegradas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad,antiguedad_laboral_meses,ingreso,jubilado
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,Información de Ingresos Encontrada,True,False,True,480,0,0,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32,18,6620.78,0
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,Información de Ingresos Encontrada,True,False,True,1304,156,0,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49,24,21333.59,0
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,Información de Ingresos Encontrada,True,False,True,17,0,0,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39,0,0.00,0
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,Información de Ingresos Encontrada,True,False,True,484,0,0,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30,36,21225.31,0
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,Información de Ingresos Encontrada,True,False,True,52,0,0,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23,0,0.00,0

# Deleting unused columns

In [34]:
df_final = df_final.drop(['message','finished','error','validated',
                        'semanas_descontadas','semanas_reintegradas'], axis= 1)

In [35]:
df_final

,_id,transactionId,curp,semanas_cotizadas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad,antiguedad_laboral_meses,ingreso,jubilado
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,480,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32,18,6620.78,0
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,1304,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49,24,21333.59,0
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,17,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39,0,0.00,0
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,484,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30,36,21225.31,0
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,52,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23,0,0.00,0

# Creating a constant

In [36]:
YEARS_TO_VERIFY = 5

    Calculating the current year minus the previous constant

In [37]:

current_year_less_5 = current_year - YEARS_TO_VERIFY

    Creating function that calculates the number of jobs in the last 5 years

In [38]:
def jobs_last_5_years(dates):
    """
    Calculates the number of jobs a person has had
    in the last 5 years based on the dates they ended.

    Args:
        dates (list): A list of dates indicating when the person's jobs ended.

    Returns:
        int: The number of jobs the person had in the last 5 years.
    """

    last_five_years = range(current_year_less_5, current_year)
    years = [int(x.split('/')[2]) for x in dates]
    records_last_five_years = sum(years.count(year) for year in last_five_years)

    return records_last_five_years

    Applying the jobs_last_5_years function

In [39]:
df_final['trabajos_ultimos_5'] = df_final['fechaAlta'].apply(jobs_last_5_years)

In [40]:
df_final

,_id,transactionId,curp,semanas_cotizadas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad,antiguedad_laboral_meses,ingreso,jubilado,trabajos_ultimos_5
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,480,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32,18,6620.78,0,7
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,1304,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49,24,21333.59,0,4
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,17,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39,0,0.00,0,0
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,484,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30,36,21225.31,0,6
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,52,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23,0,0.00,0,1

    Creating function that calculates salaries in the last 3 years

In [41]:
def wages_3_last_years(admission_date, monthly_salary):
    """
    Returns a list of the monthly salaries that a person has earned in the last 3 years.

    Args:
        admission_date (list): A list of dates indicating when the person started each job.
        monthly_salary (list): A list of monthly salaries earned by the person.

    Returns:
        list: A list of monthly salaries earned by the person in the last 3 years.
    """

    wages = []

    for date, salary in zip(admission_date, monthly_salary):
        anio = int(date.split('/')[-1])
        if anio >= current_year - 3:
            wages.append(salary)

    return wages

    Applying the wages_3_last_years function

In [42]:
df_final['salarios_ultimos_3_anios'] = df_final.apply(lambda row:
                                                      wages_3_last_years(row['fechaAlta'],
                                                                         row['salarioMensual']),
                                                      axis=1)

    Creating a function that calculates income growth

In [43]:
def income_growth(wages):
    """
    In this function, the income of the last 3 years is read
    and the percentage growth of the same is returned.

    Args:
        wages (list): salaries in the last 3 years

    Returns:
        float: describes the growth income in the last 3 years
    """

    numerical_salaries = []
    for salary in wages:

        if isinstance(salary, (int, float)):
            numerical_salaries.append(salary)

        elif isinstance(salary, str):
            salary_without_dollar = salary.replace('$', '')

            try:
                salary_numeric = float(salary_without_dollar)
                numerical_salaries.append(salary_numeric)

            except ValueError as er:
                print(er)

    if len(numerical_salaries) >= 2:
        starting_average_salary = numerical_salaries[-1]
        final_average_salary = numerical_salaries[0]
        growth = (final_average_salary - starting_average_salary) / starting_average_salary * 100

    else:
        growth = 0

    return round(growth,2)

    Applying the income_growth function

In [44]:
df_final['crecimiento_ingreso'] = df_final['salarios_ultimos_3_anios'].apply(income_growth)

    Calculating the current location of employees

In [45]:
df_final['lugar_actual'] = df_final['entidadFederativa'].apply(lambda x: x[0])

In [46]:
df_final

,_id,transactionId,curp,semanas_cotizadas,fechaAlta,fechaBaja,antiguedad,salarioBaseCotizacion,salarioMensual,entidadFederativa,edad,antiguedad_laboral_meses,ingreso,jubilado,trabajos_ultimos_5,salarios_ultimos_3_anios,crecimiento_ingreso,lugar_actual
0,64a0ae816fde746c44a03aaa,2a6c6320-3ac3-46cd-abaa-656c0cb9e423,XXXX900802HCCXXXX,480,"[08/08/2022, 10/01/2022, 02/01/2021, 24/11/202...","[Vigente, Vigente, 04/01/2022, 31/10/2021, 23/...","[Vigente, Vigente, 1 año, 11 meses, 5 meses, 3...","[$217.67, $217.67, $180.68, $150, $130, $150, ...","[$6620.78, $6620.78, $5495.67, $4562.49, $3954...","[YUCATÁN, YUCATÁN, YUCATÁN, QUINTANA ROO, YUCA...",32,18,6620.78,0,7,"[$6620.78, $6620.78, $5495.67, $4562.49, $3954...",45.11,YUCATÁN
1,64a0ae816fde746c44a03aab,7b0f9e51-9f82-416a-8d35-c857c53ea5f0,XXXX731008MDFXXXX,1304,"[01/07/2021, 30/03/2020, 26/11/2018, 15/06/201...","[Vigente, 30/06/2021, 13/02/2020, 24/10/2018, ...","[Vigente, 1 año, 3 meses, 1 año, 3 meses, 4 me...","[$701.38, $541.83, $552.36, $92.35, $83.66, $7...","[$21333.59, $16480.63, $16800.91, $2808.97, $2...","[MÉXICO, MÉXICO, MÉXICO, MÉXICO, QUERÉTARO, MÉ...",49,24,21333.59,0,4,"[$21333.59, $16480.63]",29.45,MÉXICO
2,64a0ae816fde746c44a03aac,d2510a52-d09f-4b46-833b-601eb90d98cf,XXXX830831HDFXXXX,17,[18/09/2006],[17/01/2007],[4 meses],[$83.44],[$2537.96],[DISTRITO FEDERAL],39,0,0.00,0,0,[],0.00,DISTRITO FEDERAL
3,64a0ae816fde746c44a03aad,afc217f8-694b-4793-a4d1-b4f6a2318955,XXXX921002MGRXXXX,484,"[22/06/2020, 23/03/2020, 27/02/2020, 06/11/201...","[Vigente, 18/06/2020, 16/03/2020, 26/11/2018, ...","[Vigente, 3 meses, 1 mes, <1 mes, 4 meses, <1 ...","[$697.82, $152.03, $128.79, $197.54, $272.06, ...","[$21225.31, $4624.24, $3917.35, $6008.50, $827...","[NUEVO LEÓN, NUEVO LEÓN, SONORA, NUEVO LEÓN, N...",30,36,21225.31,0,6,"[$21225.31, $4624.24, $3917.35]",441.83,NUEVO LEÓN
4,64a0ae816fde746c44a03aae,58a456b4-39a7-4001-8d24-0b8541241bd8,XXXX991014MHGXXXXX,52,[01/09/2020],[02/09/2021],[1 año],[$268.08],[$8154.08],[HIDALGO],23,0,0.00,0,1,[$8154.08],0.00,HIDALGO

    Creating the first part of the final dataframe

In [47]:
df_scoring = df_final[['ingreso','antiguedad_laboral_meses','trabajos_ultimos_5',
                        'edad','crecimiento_ingreso','lugar_actual']]

    Creating the target column

In [48]:
df_scoring['target'] = 0

/tmp/ipykernel_289716/1625712666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_scoring['target'] = 0

    Making a function that calculates a target value
    using business rules as conditionals

In [49]:
def creating_target(row):
    edad = row['edad']
    ingreso = row['ingreso']
    antiguedad = row['antiguedad_laboral_meses']
    trabajos = row['trabajos_ultimos_5']
    crecimiento = row['crecimiento_ingreso']

    if 28 <= edad <= 43:
        row['target'] += 0.8
    elif (25 <= edad < 28) or (43 < edad <= 46):
        row['target'] += 0.6
    elif (20 <= edad < 25) or (46 < edad <= 65):
        row['target'] += 0.5
    elif (18 <= edad < 20) or (65 < edad <= 70):
        row['target'] += 0.3
    else:
        row['target'] += 0

    if ingreso >= 70000:
        row['target'] += 1
    elif 50000 <= ingreso < 70000:
        row['target'] += 0.9
    elif 35000 <= ingreso < 50000:
        row['target'] += 0.8
    elif 25000 <= ingreso < 35000:
        row['target'] += 0.7
    elif 15000 <= ingreso < 25000:
        row['target'] += 0.6
    elif 10000 <= ingreso < 15000:
        row['target'] += 0.5
    elif 9000 <= ingreso < 10000:
        row['target'] += 0.4
    elif 8000 <= ingreso < 9000:
        row['target'] += 0.3
    elif 7000 <= ingreso < 8000:
        row['target'] += 0.2
    elif 5000 <= ingreso < 7000:
        row['target'] += 0.1
    else:
        row['target'] += 0

    if antiguedad > 48:
        row['target'] += 1
    elif 36 <= antiguedad <= 48:
        row['target'] += 0.9
    elif 24 <= antiguedad < 36:
        row['target'] += 0.8
    elif 12 <= antiguedad < 24:
        row['target'] += 0.7
    elif 9 <= antiguedad < 12:
        row['target'] += 0.6
    elif 6 <= antiguedad < 9:
        row['target'] += 0.5
    elif 3 <= antiguedad < 6:
        row['target'] += 0.4
    elif 2 <= antiguedad < 3:
        row['target'] += 0.3
    elif 1 <= antiguedad < 2:
        row['target'] += 0.2
    elif 0 < antiguedad < 1:
        row['target'] += 0.1
    else:
        row['target'] += 0

    if trabajos == 1:
        row['target'] += 1
    elif trabajos == 2:
        row['target'] += 0.8
    elif trabajos == 3:
        row['target'] += 0.6
    elif trabajos == 4:
        row['target'] += 0.5
    elif trabajos == 5:
        row['target'] += 0.4
    elif 6 <= trabajos <= 7:
        row['target'] += 0.3
    elif trabajos == 8:
        row['target'] += 0.2
    elif trabajos == 9:
        row['target'] += 0.1
    else:
        row['target'] += 0

    if 50 <= crecimiento <= 150:
        row['target'] += 1
    elif (10 <= crecimiento < 50) or (150 < crecimiento <= 300):
        row['target'] += 0.8
    elif (0 <= crecimiento < 10) or (crecimiento >= 300):
        row['target'] += 0.5
    elif crecimiento < 0:
        row['target'] += 0.2
    else:
        row['target'] += 0

    return row

    Applying the create_target function to set up the target in our dataframe

In [50]:
df_scoring = df_scoring.apply(creating_target, axis=1)
df_scoring['target'] = round((df_scoring['target'] / 5) , 2)
df_scoring['target_cientos'] = df_scoring['target'] * 1000
df_scoring['target_regression'] = (df_scoring['target'] >= 0.67).astype(int)

    Making labels to create a classifier target

In [51]:
condiciones = [df_scoring['target_cientos'] < 580,
            (df_scoring['target_cientos'] >= 580) & (df_scoring['target_cientos'] < 670),
            (df_scoring['target_cientos'] >= 670) & (df_scoring['target_cientos'] < 740),
            (df_scoring['target_cientos'] >= 740) & (df_scoring['target_cientos'] < 800),
            df_scoring['target_cientos'] >= 800]
etiquetas = ['desfavorable', 'aceptable', 'bueno', 'muy bueno', 'excepcional']

    Applying the labels to generate a classifier target

In [52]:
df_scoring['target_etiquetas'] = np.select(condiciones, etiquetas)

    Watching how it looks the data before sending to the Machine Learning Model

In [53]:
df_scoring

,ingreso,antiguedad_laboral_meses,trabajos_ultimos_5,edad,crecimiento_ingreso,lugar_actual,target,target_cientos,target_regression,target_etiquetas
0,6620.78,18,7,32,45.11,YUCATÁN,0.54,540.0,0,desfavorable
1,21333.59,24,4,49,29.45,MÉXICO,0.64,640.0,0,aceptable
2,0.00,0,0,39,0.00,DISTRITO FEDERAL,0.26,260.0,0,desfavorable
3,21225.31,36,6,30,441.83,NUEVO LEÓN,0.62,620.0,0,aceptable
4,0.00,0,1,23,0.00,HIDALGO,0.40,400.0,0,desfavorable

# MAKING A FINAL CSV TO BE SENT TO MACHINE LEARNING MODEL

In [54]:
df_scoring.to_csv('dataset/data_prueba_limpia.csv', index=False)